<launch>
	<arg name="task" default="taskspace" />

	<node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find ct_ros_nodes)/rviz/hyaMobileViz.rviz"/>		
	
	<param name="hya_description" textfile="$(find ct_models)/urdf/HyA/HyA.urdf" />
	
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="hya_state_publisher" >
	 	  <param name="~tf_prefix" value="hya" type="str"/>
      <remap from="robot_description" to="hya_description" />
    </node>
    
    <!--node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" /-->
    
    <node name="hya_nloc" pkg="ct_ros_nodes" type="HyAMobileNLOC" respawn="false" output="screen" >
       	<param name="workingDirectory" value="$(find ct_ros_nodes)/config/HyAMobile/nloc/$(arg task)" />
    </node>
	
</launch>